body{
    background-image: url(https://media.istockphoto.com/id/1299187436/photo/4k-abstract-technology-dotted-digital-wave-background.jpg?b=1&s=170667a&w=0&k=20&c=zJrCDEO39HeuLx2QoqdgIW8Ri9Lict3tt7kUlfs1hd8=);
    background-size: cover;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
.card{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    width: fit-content;
    height: fit-content;
    border: 5px;
    float: right;
    margin: 5px;
    
}
.card>div{
    position:relative;
    width: 50%;
    height:fit-content;
    display: flexbox;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    
}
img{
    image-orientation: flip;
    image-resolution:inherit;
    align-items:left ;
    width: 400px;
}
.card>div:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.container{
    text-align: left;
    font-size: x-large;
    width: 25%;
    border-width: 5px;
    color:wheat;
    padding-top: 0px;
    padding-bottom: 0px;
}
.head{
    font-family: Algerian;
    color: blanchedalmond;
    text-align: center;
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-style: oblique;
    font-display: center;
    
}
.title{
    opacity: 0.5;
}

.topnav {
    overflow: hidden;
    background-color:#e0e0e0;
    position:relative;
    width:fit-content;
    padding: 0%;
    }
.topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 25px 80px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.split{
    float: right;
}
.topnav a:hover{
    background-color: black;
    color:white;   
}
#ct{
    font-size:medium;
    float:right;
    background-color: #e0e0e0;
}